<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/mystyle.css">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Dropify -->
    <link rel="stylesheet" href="assets/plugin/dropify/css/dropify.min.css">

    <title>排课系统</title>
</head>

<body id="container">
    <div class="nav-header">
        <div class="logo-img">
            <img src="image/logo2.jpg" alt="logo" id="logo" onclick="backToMain()">
        </div>
        <span class="title">Courses 排课系统</span>
        <div class="user"> 您好! <span>用户User</span> </div>
    </div>
    <div class="main-nav">
        <div class="nav-main">
            <nav class="navbar navbar-dark bg-dark">
                <ul class="navbar-nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link" href="#" @click="manualToggle">
                            <i class="fa fa-hand-paper-o"></i> 手动添加排课
                        </a>
                        <ul class="nav-pills sub-nav" id="manual-schedule">
                            <li class="nav-item mynav" name="statics">
                                <a class="nav-link" href="#"><i class="fa fa-calendar"></i> 课程数据</a>
                            </li>
                            <li class="nav-item mynav" name="classInfo">
                                <a class="nav-link" href="#"><i class="fa fa-calendar-plus-o"></i> 班级数据</a>
                            </li>
                            <li class="nav-item mynav" name="manualResults">
                                <a class="nav-link" href="#"><i class="fa fa-database"></i> 排课结果</a>
                            </li>
                            <li name="submit">
                                <a class="nav-link" href="#" @click="submitManualResult"><i class="fa fa-play"></i>
                                    开始手动排课</a>
                            </li>
                        </ul>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" @click="autoToggle">
                            <i class="fa fa-desktop"></i> 自动添加排课
                        </a>
                        <ul class="nav-pills sub-nav" id="auto-schedule">
                            <li class="nav-item mynav" name="filesInfo">
                                <a class="nav-link" href="#"><i class="fa fa-file-o"></i> 文件下载与上传</a>
                            </li>
                            <li class="nav-item mynav" name="autoResults">
                                <a class="nav-link" href="#"><i class="fa fa-database"></i> 排课结果</a>
                            </li>
                            <li name="submit">
                                <a class="nav-link" href="#" @click="submitAutoResult"><i class="fa fa-play-circle"></i>
                                    开始自动排课</a>
                            </li>
                        </ul>

                    </li>


                </ul>
            </nav>
        </div>

    </div>

    <section class="right-bar">
        <div class="container" id="presentation">


            <div id="homePage" class="main-content pre">
                <div class="row home-title">
                    <div class="col-lg-12">
                        <h1>同济大学自动排课系统</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-9 offset-3">
                        <b class="mini-header">2019年国家级大学生创新项目《大学生辅修排课建模与算法》</b>
                    </div>
                </div>
                <div class="row home-title">
                    <div class="col-lg-9">
                        <b>Guiding teacher: 关晓飞</b>
                    </div>
                    <div class="col-lg-9">
                        <b>Members: 王尔佳 许铭浩 马思腾</b>

                    </div>

                </div>
                <hr>
                <div class="row home-main">
                    <div class="col-lg-5  my-card">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2>手动添加数据排课 <i class="fa fa-caret-down" onclick='toggleMain(this,"manual")'></i></h2>
                            </div>
                            <div class="col-lg-12">
                                <div id="manual-main" class="row">
                                    <div class="col-lg-10 offset-1 my-li">
                                        <i class="fa fa-minus"></i><b> 添加课程信息及班级信息</b>
                                    </div>

                                    <div class="col-lg-10 offset-1 my-li">
                                        <i class="fa fa-minus"></i><b> 生成至多两个班级的排课结果</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-1">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2></i>自动添加数据排课 <i class="fa fa-caret-down" onclick='toggleMain(this,"auto")'></i></h2>
                            </div>
                            <div class="col-lg-12">
                                <div id="auto-main" class="row">
                                    <div class="col-lg-10 offset-1 my-li">
                                        <i class="fa fa-minus"></i><b> 下载Excel模板并按格式填写</b>
                                    </div>
                                    <div class="col-lg-10 offset-1 my-li">
                                        <i class="fa fa-minus"></i><b> 上传Excel格式数据</b>
                                    </div>
                                    <div class="col-lg-10 offset-1 my-li">
                                        <i class="fa fa-minus"></i><b> 生成各专业排课结果</b>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row home-bottom">
                    <div class="col-lg-12">
                        <b>本系统开源在Github <a href="https://github.com/mst6750623/Courses-Schedule"><i
                                    class="fa fa-github fa-2x" style="color:black"></i></a></b>
                    </div>
                </div>
            </div>

            <div id="manualMode">
                <div id="title" class="row">
                    <div style="height:30px;width:100%;"></div>
                    <span id="main-page-btn" onclick="backToMain()">主页</span>
                    <span class="text-muted" style="margin-left:5px;">{{title}}</span>
                    <div style="height:40px;width:100%;"></div>
                </div>

                <div id="statics" class="main-content pre">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <input type="text" name="course-id" class="form-control" id="course-id" v-model="courseId"
                                placeholder="课程号" maxlength="10">
                            <p class="help margin-top-10 text-muted">输入课程号</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <input type="text" name="course-name" class="form-control" id="course-name"
                                v-model="courseName" placeholder="课程名称" maxlength="20">
                            <p class="help margin-top-10 text-muted">输入课程名称</p>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <input type="number" name="course-score" class="form-control" id="course-score"
                                v-model="courseScore" placeholder="课程学分" max="10" min="0">
                            <p class="help margin-top-10 text-muted">输入课程学分</p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <input type="number" name="course-num" class="form-control" id="course-num"
                                v-model="courseNum" placeholder="每周课程数" max="5" min="0">
                            <p class="help margin-top-10 text-muted">输入每周课程数</p>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <input type="button" value="添加课程" class="btn btn-info" @click="addCourse">
                        </div>
                    </div>

                    <div class="row" id="course-table-area">
                        <div class="col-lg-10 col-md-10">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">序号</th>
                                        <th scope="col">课号</th>
                                        <th scope="col">课程名</th>
                                        <th scope="col">学分</th>
                                        <th scope="col">每周课程数</th>
                                        <th scope="col">删除</th>
                                    </tr>
                                </thead>
                                <tbody id="course-body">
                                    <tr v-for='(course,index) in coursesData'>
                                        <td scope="row">{{index+1}}</td>
                                        <td>{{course.id}}</td>
                                        <td>{{course.name}}</td>
                                        <td>{{course.score}}</td>
                                        <td>{{course.num}}</td>
                                        <td><i class="fa fa-remove del_button" @click='removeCourse(index)'></i></td>
                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row" id="submit-btn">
                        <div class="col-lg-2 offset-4 col-md-1"><input type="button" class="btn btn-success"
                                @click='saveCourse' value="保存课程信息"></div>

                    </div>
                </div>


                <div id="classInfo" class="main-content pre">
                    <div class="row">
                        <div class="col col-lg-2 offset-5 col-md-1">
                            <input type="button" value="添加班级" class="btn btn-info btn-lg" @click="addClass">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-lg-10 offset-1 col-md-8 classes-info"
                            v-for='(classes,name,index) in classData'>
                            <span>班级：{{name}} </span>
                            <p v-for='(courses,index) in classes'>
                                第 {{index+1}}节: {{courses.id}} {{courses.name}}
                            </p>
                            <i class="fa fa-remove del_button" @click='removeClass(name)'></i>

                        </div>
                    </div>
                </div>


                <div id="manualResults" class="main-content pre">
                    <div class="row">
                        <div class="col-lg-8 offset-4 col-md-6">
                            <div class="btn-group class-select" data-toggle="buttons">
                                <label class="btn btn-md btn-info">
                                    <input type="radio" name="classes" class="classes" value="class1" checked> 班级1
                                </label>
                                <label class="btn btn-md btn-info">
                                    <input type="radio" name="classes" class="classes" value="class2"> 班级2
                                </label>

                            </div>

                        </div>
                    </div>
                    <div class="row result-table-area" >
                        <div class="col-lg-10 col-md-8">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">时间</th>
                                        <th scope="col">周一</th>
                                        <th scope="col">周二</th>
                                        <th scope="col">周三</th>
                                        <th scope="col">周四</th>
                                        <th scope="col">周五</th>
                                        <th scope="col">周六</th>
                                        <th scope="col">周日</th>
                                    </tr>
                                </thead>
                                <tbody class="result-body">
                                    <tr class="result-subbody" v-show="is_class1" id="class1"
                                        v-for='(course,index) in middleCourseResult1'>
                                        <th scope="row">第{{(index+1)*2-1}}-{{(index+1)*2}}节课</td>
                                        <td v-for='detail in course'>
                                            {{detail.id}}
                                            <br><span class="result-name">{{detail.name}}</span>
                                            <br><span class="result-score">score:{{detail.score}}</span>
                                        </td>

                                    </tr>
                                    <tr class="result-subbody" v-show="!is_class1" id="class2"
                                        v-for='(course,index) in middleCourseResult2'>
                                        <th scope="row">第{{(index+1)*2-1}}-{{(index+1)*2}}节课</td>
                                        <td v-for='detail in course'>
                                            {{detail.id}}
                                            <br><span class="result-name">{{detail.name}}</span>
                                            <br><span class="result-score">score:{{detail.score}}</span>
                                        </td>

                                    </tr>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div id="autoMode">
                <div id="filesInfo" class="main-content pre">
                    <div class="row">
                        <div class="col col-lg-3 col-md-2 offset-2">
                            <button class="btn btn-info "><a href="/excel/" download="专业代号.xlsx">下载专业代号模板</span></a></button>
                        </div>
                        <div class="col col-lg-3 col-md-2">
                            <button class="btn btn-info "><a href="/excel/" download="第一.二学期工作安排表.xlsx">下载工作安排表模板</span></a></button>

                        </div>
                        <div class="col col-lg-3 col-md-2">
                            <button class="btn btn-info "><a href="/excel/">打开下载列表</span></a></button>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col col-lg-12 col-md-12">
                            <form action="" id="form">
                                <div class="box-content">
                                    <h5 class="box-title">上传专业代号</h5>
                                    <!-- /.box-title -->
                                    <!-- /.dropdown js__dropdown -->
                                    <input type="file" class="dropify" name="major_file" id="major_file"
                                        accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                        data-allowed-formats="portrait square" data-max-file-size="1M"
                                        required="required" />
                                </div>

                                <div class="box-content">
                                    <h5 class="box-title">上传工作安排表</h5>
                                    <!-- /.box-title -->
                                    <!-- /.dropdown js__dropdown -->
                                    <input type="file" class="dropify" name="job_file" id="job_file"
                                        accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                        data-allowed-formats="portrait square" data-max-file-size="5M"
                                        required="required" />
                                </div>
                            </form>
                        </div>
                        <div class="col col-lg-2 offset-5 col-md-1">
                            <input type="button" value="上传" id="upload" class="btn btn-success" @click="upload">
                        </div>
                    </div>
                </div>

                <div id="autoResults" class="main-content pre">
                    <div class="row">
                        <div class="col-lg-4 offset-2">
                            <div class="dropdown">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                 {{type}}
                                </button>
                                <div class="dropdown-menu" >
                                  <a class="dropdown-item majors" href="#" v-for ="type in types" @click = "chooseMajor($event)">{{type}}</a>
                                  
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="row result-table-area">
                        <div class="col-lg-10 col-md-8">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">时间</th>
                                        <th scope="col">周一</th>
                                        <th scope="col">周二</th>
                                        <th scope="col">周三</th>
                                        <th scope="col">周四</th>
                                        <th scope="col">周五</th>
                                        <th scope="col">周六</th>
                                        <th scope="col">周日</th>
                                    </tr>
                                </thead>
                                <tbody class="result-body">
                                    <tr class="result-subbody" id="class1"
                                        v-for='(course,index) in courseResultNow'>
                                        <th scope="row">第{{(index+1)*2-1}}-{{(index+1)*2}}节课</td>    
                                        <td v-for='detail in course'>
                                            <span class="result-name" v-show='detail==""?false:true'>课号 <b>{{detail.courseNum}}</b> </br></span>
                                            <span class="result-teacher" v-show='detail==""?false:true'>教师 <b>{{detail.teacherNum}}</b> </br></span>
                                            <span class="result-room" v-show='detail==""?false:true'>教室 <b>{{detail.roomNum}}</b> </br></span>

                                            <!--<br><span class="result-name">{{detail.name}}</span>
                                            <br><span class="result-score">score:{{detail.score}}</span>-->
                                        </td>

                                    </tr>

                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>





    </section>

    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/Upload.js"></script>
    <script src="js/manualSchedule.js"></script>
    <script src="js/autoSchedule.js"></script>

    <script src="assets/scripts/modernizr.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Dropify -->
    <script src="assets/plugin/dropify/js/dropify.min.js"></script>
    <script src="assets/scripts/fileUpload.demo.min.js"></script>

</body>

</html>