.course {
    margin-top:20px;
}
.course div {
    float: right;
    font-size:12pt;
}

.spaner {
    font-weight: bold;
    width:80px; 
    font-size:10pt;
    
}

.labeler {
    font-weight: bold;
    width:260px; 
    
}

#confirm {
    margin-top:15px;
}
