body {
    background-color: rgb(237, 241, 245) !important;
}

.main-nav {
    position: fixed;
    z-index: 100;
    margin-top: 100px;
    margin-left: 0;
    background-color: #3a3535;
    height: 100%;
    width: 250px;
    padding: 0px;
    text-align: center;
    border-right: 1px solid black;
}

.nav-header {
    position: fixed;
    overflow: hidden;
    background-color: white;
    height: 100px;
    width: 100%;
    z-index: 999;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-header .logo-img {
    height: 100%;
    margin-left: 30px;
    float: left;
}

#logo {
    max-height: 100%;
    width: auto;
    cursor: pointer;
}

.nav-header .title {
    position: absolute;
    float: left;
    margin-left: 40px;
    color: #000000;
    font-weight: bold;
    font-size: 24pt;
    /*font-family: STXinwei;*/
    line-height: 90px;
    min-width: 100px;
}

.nav-header .user {
    float: right;
    margin-right: 50px;
    line-height: 80px;
}

.nav-header .user span {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
    color: #5faef3
}

.nav-main {
    width: 100%;
    height: 120%;
    font-family: songti;
    background-color: #343a40;
}

.nav-main ul {
    width: 100%;
    padding: 0;
}

.nav-main li {
    text-align: left;
    font-size: large;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff00;
    transition: all 0.1s ease-in-out;
}



/*
.mynav {
    text-align: left;
    font-size: large;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff00;
    
}*/

.nav-link:hover {
    font-weight: bold;
    color:white;
}

.navbar {
    padding: 0;
}

.sub-nav{
    list-style: none;
}

.right-bar {
    padding-top: 110px;
    margin-left: 250px;
    /*height: 798px;*/
}


#presentation {
    margin-top: 0px;
    width: 80% !important;
}

#title {
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    font-family: fantasy;
    display: none;
}



#homePage h1{
    font-weight: bolder;
    font-size:45pt;
    margin-left:auto;
    margin-right: auto;
}

#homePage .mini-header{
    font-size:18pt;
    color:#53575c;
}
#homePage .home-title {
    margin-top:35px;
    font-size: 15pt;
}
#homePage .home-main{
    margin-top:60px;
}

#homePage .home-main h2{
    font-weight: bold ;
}
#homePage .home-main .fa{
    cursor: pointer;
    transition: all 0.1s;
}
#homePage .home-main .fa:hover{
    transform: scale(1.1,1.1);
}

#homePage .home-main .my-li{
    margin-top:10px;
    font-weight: 400;
    color:#575757;
}

#homePage .my-card{
    border-right:2px solid #000000;
    background-color: #ffffff00;
   
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#homePage .home-bottom{
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
    bottom:30px;
    
}

#homePage .home-bottom a:hover{
    color:#747474;
}






/*section1*/
#statics {
    display: none;
}

#statics input {
    font-weight: bold;
}

#course-table-area {
    margin-top: 30px;

}

#course-body {
    text-align: left;
    background-color: white;
}

.del_button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.del_button:hover {
    color: red;
}

#submit-btn {
    margin-top: 20px;

}
/*end of section1*/

/*section2*/
#classInfo {
    display: none;
}

#classInfo input {
    font-weight: bold;
}

.classes-info {
    margin-top: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 25pt;
    font-weight: bold;
    background-color: white;
}

.classes-info span {
    color: rgb(9, 46, 116);
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-75%, -50%);
}

.classes-info p {
    margin-top: 1rem;
    font-size: medium;
    font-style: oblique;
}

.classes-info .del_button {
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-90%, -50%);
}

/*section3*/
#filesInfo {
    display: none;
}

#filesInfo a {
    text-decoration: none;
    color: white;
}

.box-content {
    margin-top: 50px;
    margin-bottom: 50px;

}

.box-content h5 {
    color: #484b4e;
    font-weight: bold;
}


#upload {
    margin-bottom: 50px;
    font-weight: bold;
}





/*section4*/
.class-select {
    display: inline;
}

.class-select label {
    margin-left: 20px !important;
    border-radius: .3rem !important;
    cursor: pointer;
}

#manualResults {
    display: none;
}

#autoResults{
    display: none;
}
.result-table-area {
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
}

.result-table-area td,th {
    text-align: center;

}

.table th{
    min-width:150px;
}
.result-body td {
    color: purple;
    font-size: medium;
}
.result-body b{
    color:rgb(56, 56, 56);
}

.result-body .result-name {
    font-weight: medium;
    font-size: larger;
    color: black;
}

.result-body .result-teacher {
    font-weight: medium;
    color: black;
}
.result-body .result-room {
    font-weight: medium;
    color: black;
}

.result-body .result-score {
    font-weight: lighter;
    color: black;
}




/*******banner*******/
#nav-icon {
    width: 55px;
    height: 55px;
    border-radius: 55px;
    overflow: hidden;
}


.is_login {
    opacity: 0;
    visibility: hidden;
}

.logined {
    cursor: pointer;
}

.login {
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*height: 555px;
    width:450px;*/
    height: 70%;
    width: 30%;
    background: black;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid rgb(33, 49, 33);
}

.login_close {
    position: absolute;
    z-index: 10000;
    left: 62%;
    top: 18%;
    cursor: pointer;
}

.login_close:hover {
    color: rgb(13, 173, 40);
}

.box {
    position: absolute;
    z-index: 9998;
    top: 0;
    bottom: 0;
    left: -3px;
    right: 0;
    width: 105%;
    height: 300%;
    background: #000;
    opacity: 0.7;
}

.new1+span {
    z-index: 9999;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(249, 255, 240);
    font-size: 35pt;
   
}

.new1 i {
    z-index: 9999;
    color: white;
}

/*******banner off*******/