body {
    background-color: #fbfcf3;
}
.main-nav {
    position: fixed;
    margin-left:0;
    background-color: #3a3535;
    height:100%;
    width:250px;
    padding:0px;
    text-align: center;
    border-right:1px solid black;
}
.nav-header {

    padding-top:5px;
    padding-bottom: 5px;
    background-color: white;
    height:100px;
    width:100%;
    color: #1d84df;
    font-weight: bold;
    font-family: fantasy;
}
#logo {
    max-height: 100%;
    width:auto;
}

.nav-main {
    width:100%;
    height:100%;
    font-family:songti;
    background-color:#343a40;
}

.nav-main ul {
    width:100%;
    padding:0;
}
.nav-main li {
   
    text-align:left;
    font-size: large;
    padding-left:30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#ffffff00;
    transition:all 0.2s ease-in-out;
}
.nav-main li:hover {
    font-weight: bold;
    background-color:#ffffff27;
}
.navbar {
    padding: 0;
}

.right-bar{
    margin-left:250px;
    height:798px;
}

#presentation {
    margin-top:0px;
}

#title {
    cursor: pointer;
    font-size:20px;
    font-weight:bolder;
    font-family: fantasy;
}
#statics input{
    font-weight: bold;
}
#course-table-area{
    margin-top:30px;
    
}
#course-body{
    text-align: left;
    background-color: white;
}
.del_button{
    cursor: pointer;
    transition:all 0.3s ease-in-out;
}
.del_button:hover{
    color:red;   
}
#submit-btn{
    margin-top:20px;
    
}


/*section2*/
#classInfo {
    display:none; 
}

#classInfo input{
    font-weight: bold;
}
.classes-info {
    margin-top:15px;
    border:2px solid black;
    border-radius: 10px;
    font-size: 25pt;
    font-weight: bold;
    background-color:white;
}
.classes-info span{
    color:rgb(9, 46, 116);
    position: absolute;
    left:75%;
    top:50%;
    transform: translate(-75%,-50%);
}

.classes-info p{
    margin-top:1rem;
    font-size: medium;
    font-style: oblique;
}
.classes-info .del_button{
    position: absolute;
    left:90%;
    top:50%;
    transform: translate(-90%,-50%);
}







/*section3*/
.class-select {
    display:inline;
}
.class-select label {
    margin-left: 20px !important;
   border-radius:.3rem !important;
   cursor: pointer;
}
#results {
    display:none; 
}

#result-table-area td,th{
    text-align: center;
    
}
#result-body td{
    color:purple;
    font-size: medium;
}
#result-body .result-name{
    font-weight: bolder;
    font-size:larger;
    color:black;
}
#result-body .result-score{
    font-weight: lighter;
    color:black;
}




/*******banner*******/
#nav-icon {
    width: 55px;
    height:55px;
	border-radius:55px;
	overflow: hidden;
}


.is_login{
	opacity: 0;
	visibility:hidden;
}
.logined {
	cursor: pointer;
}

.login{
    position:fixed;
    z-index:9999;
    left:500px;
    top:70px;
    height: 555px;
    width:450px;
    background:black;
    overflow: hidden;
    border-radius:20px;
   border:5px solid rgb(33, 49, 33);
}
.login_close {
    position:fixed;
    z-index:10000;
    left:910px;
    top:80px;
    
    cursor: pointer;
}
.login_close:hover {
    color:rgb(13, 173, 40);
}
.box {
    position: absolute;
    z-index:9998;
    top: 0;
    bottom: 0;
    left: -3px;
    right: 0;
    width:105%;
    height:300%;
    background: #000;
    opacity: 0.7;
}
.new1 + span {
    z-index:9999;
    position: absolute;
    left:50%;
    top:30%;
    transform: translate(-50%,-30%);
    text-align: center;
    color:greenyellow;
    font-size: 35pt;
    font-family: kaiti;
   border:5px solid white;
   border-radius:10px;
}
.new1 + i {
    z-index:9999;
    position: absolute;
    left:46%;
    top:40%;
    transform: translate(-46%,-40%);
    color:white;
}

/*******banner off*******/

